/* ---- GENERAL ----- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	background-color: #fff;
	color: #fff;
}

btn,
a,
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

a,
btn {
	cursor: pointer;
	color: #fff;
}

a:link,
a:visited {
    text-decoration: none;
}

img {
	width: 100%;
}

hr {
	border-style: solid;
	border-color: #a5b5c7;
}

footer,
section,
aside {
	text-align: center;
}

.btn {
	margin: 20px 10px 0 10px;
	display: inline-block;
	padding: 11px 50px;
	border: 2px solid #00BCD4;
	border-radius: 3px;
	/* color: #00CCCC; */
	background-color: #00BCD4;
}

.btn-ghost {
	margin: 20px 10px;
	display: inline-block;
	padding: 11px 90px;
	border: 2px solid #fff;
	border-radius: 3px;
}



/* ---- HEADER ----- */

header {
	/* ---- STICKY HEADER ---- */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* ---- BASE HEADER ---- */
    height: 50px;
	background-color: #37404A;
	z-index: 1000;
}

.header-title {
    width: 225px;
	height: 50px;
	float: left;
}

.header-title i {
    height: 50px;
    float: left;
    font-size: 2.1em;
    padding: 3px 10px;
    color: #37404A;
    background-color: #a5b5c7;
}

.header-title i:hover {
    color: #37404A;
}

.header-title h1 {
    float: right;
    padding: 10px 0;
    margin-right: 15px;
}

.header-nav-icon {
    height: 50px;
    width: 50px;
	float: right;
	background-color: #00BCD4;
}

.mobile-nav-icon {
    cursor: pointer;
}

.mobile-nav-icon i {
    display: block;
    height: 50px;
    padding: 4px 15px;
    font-size: 200%;
    color: #fff;
}

.main-nav {
    display: none;
    float: left;
    width: 100%;
    background-color: #272f38;
    box-shadow: 0 2px 2px rgba(3, 15, 29, 0.5);
}

.main-nav li {
    display: block;
    height: 50px;
    border-top: 1px solid #00BCD4;
    width: 100%;
}

.main-nav li:last-child {
    border-bottom: 1px solid #00BCD4;
}

.main-nav li a {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 12px 16px;
}

.main-nav li a:hover {
    background-color: #00BCD4;
}

.main-nav la a:link,
.main-nav li a:visited {
    display: inline-block;
    border: 0;
    font-size: 100%;
    color: #fff;
}

/* ---- ASIDE ----- */

aside {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 400px;
	background-color: #37404A;
}

.aside-header-title {
    width: 100%;
    background-color: #37404A;
    height: 50px;
    float: left;
}

.aside-header-title i {
    float: left;
    font-size: 2.1em;
    padding: 3px 10px;
    color: #37404A;
    background-color: #a5b5c7;
}

.aside-header-title i:hover {
    color: #37404A;
}

aside h1 {
    float: right;
    margin-right: 190px;
    padding: 10px 0;
}

aside ul {
	list-style: none;
	font-size: 1.5em;
}

aside li {
	display: block;
	margin: 0 20px;
}

.section-gallery {
    display:inline-block;
    min-height: 75%;
    width: 100%;
    padding-top: 10px;
    background-color: #272f38;
}

.section-gallery article {
    background-size: cover;
    background-position: center;
    max-width: 700px;
    max-height: 160px;
    margin-bottom: 10px;
}

#character {
    background-image: url("../img/GalleryThumb_Character.jpg");
}

#props {
  background-image: url("../img/GalleryThumb_Props.jpg");
}

#concept {
  background-image: url("../img/GalleryThumb_Concept.jpg");
}

.gallery-text {
	padding-top: 55px;
	height: 160px;
    
}

.inactive {
	width: 300px;
	margin: 0 auto;
	padding: 11px 5px;
	border: 2px solid #fff;
	border-radius: 3px;
	/* background-color: #00BCD4; */
	color: #fff;
}

.active {
    width: 300px;
	margin: 0 auto;
	padding: 11px 5px;
	border: 2px solid #00BCD4;
	border-radius: 3px;
	background-color: #00BCD4;
	color: #fff;
}

/* ---- FOOTER ---- */

.aside-footer {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 116px;
    background-color: #37404A;
}

footer ul {
	position: absolute;
	bottom: 50px;
	width: 100%;
	font-size: 2.5em;
	list-style: none;
}

footer li {
	margin: 0 20px;
	display: inline-block;
}

aside i,
aside i:link,
aside i:visited
aside i:active {
	color: #a5b5c7;
}

aside i:hover {
	color: #fff;
}

footer h4 {
	position: absolute;
	bottom: 15px;
	width: 100%;
	padding-bottom: 6px;
	font-weight: 300;
	color: #a5b5c7;
}


/* ---- FEATURED WORK ----- */

.section-work {
	margin: 50px auto 0 auto;
	max-width: 900px;
	padding: 20px 20px 0 20px;
}

.section-work li {
	display: block;
	margin: 0 auto;
	max-width: 900px;
	margin-bottom: 28px;
}

.section-work li img {
	display: block;
}

/* ---- FEATURED WORK FOOTER ---- */

.work-footer {
	position: relative;
	width: 100%;
    height: 110px;
	background-color: #37404A;
}

.work-footer ul {
	bottom: 37px;
}

.work-footer h4 {
	bottom: 5px;
}


.work-footer i {
	color: #a5b5c7;
}

.work-footer i:hover {
	color: #fff;
}

/* ---- ABOUT ME ----- */


/* ---- MEDIA QUERIES ---- */

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .header-title h1 {
          padding-top: 11px;
      }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
      .header-title h1 {
          padding-top: 11px;
      }
      
}

@media screen and (max-width: 320px) {
    .header-title {
        width: auto;
    }
    
    .header-title i {
        display: none;
    }
    
    .header-title h1 {
        float: left;
        padding-left: 10px;
    }
    
}


@media screen and (max-width: 360px) {
  footer h4 {
	font-size: 0.8em;
  }
  
  footer li {
	margin: 0 14px;
  }
}

@media screen and (min-width: 1200px) {
	header {
		display: none;
	}
	
	.work-footer {
		display: none;
	}
	
	aside {
		display: block;
	}
	
	.section-work {
		display: block;
		max-width: none;
		margin: 0 auto 0 400px;
	}
}

/* ----------- L Laptop ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1440px) {
      .section-gallery article {
          max-height: 116px;
      }
      
      .gallery-text {
	       padding-top: 35px;
      }

}

