/* ---- GENERAL ----- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Bebas Neue", Roboto, sans-serif;
	background-color: #fff;
}

btn,
a,
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

a,
btn {
	cursor: pointer;
	color: #fff;
}

a:link,
a:visited {
    text-decoration: none;
}

img {
	width: 100%;
}

hr {
	border-style: solid;
	border-color: #a5b5c7;
}

footer,
section,
aside {
	text-align: center;
}

.btn {
	margin: 20px 10px 0 10px;
	display: inline-block;
	padding: 11px 50px;
	border: 2px solid #00BCD4;
	border-radius: 3px;
	background-color: #00BCD4;
}

.btn-ghost {
	margin: 20px 10px;
	display: inline-block;
	padding: 11px 90px;
	border: 2px solid #fff;
	border-radius: 3px;
}

/* ---- HEADER ----- */

header {
	/* ---- STICKY HEADER ---- */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* ---- BASE HEADER ---- */
    height: 50px;
	background-color: #37404A;
	z-index: 1000;
}

.header {
    display: flex;
    margin: 0 auto;
    height: 50px;
}

.header-title {
    float: left;
    height: 50px;
    width: 100%;
}

.header-icon {
    margin-top: 12px;
    padding: 0 6px;
    height: 26px;
}

.desktop-nav {
    display: none;
    list-style: none;
}

.desktop-nav li {
    padding: 13px 2em;
}

.desktop-nav li a {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.desktop-nav li a:hover {
    color: #00BCD4;
}

.active {

}

.header-nav-icon {
    max-width: 40%;
    height: 50px;
    width: 50px;
	background-color: #00BCD4;
}

.mobile-nav-icon {
    cursor: pointer;
}

.mobile-nav-icon i {
    display: block;
    height: 50px;
    padding: 6px 15px;
    font-size: 2.1em;
    color: #fff;
}

.main-nav {
    display: none;
    float: left;
    width: 100%;
    background-color: #36383e;
    box-shadow: 0 2px 2px rgba(3, 15, 29, 0.5);
}

.main-nav li {
    text-align: center;
    display: block;
    height: 50px;
    border-top: 1px solid #00BCD4;
    width: 100%;
    
}

.main-nav li:last-child {
    border-bottom: 1px solid #00BCD4;
}

.main-nav li a {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 16px 16px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.main-nav li a:hover {
    background-color: #00BCD4;
}

.main-nav la a:link,
.main-nav li a:visited {
    display: inline-block;
    border: 0;
    font-size: 100%;
    color: #fff;
}

/* ---- FOOTER ---- */

footer {
	position: relative;
	width: 100%;
    height: 50px;
	background-color: #37404A;
}

footer h4 {
	position: absolute;
    font-weight: 600;
    letter-spacing: 0.06em;
    bottom: 8px;
	width: 100%;
	padding-bottom: 6px;
	color: #fff;
    opacity: 0.5;
}

/* ---- FEATURED WORK ----- */

.section-work {
	margin: 50px auto 0 auto;
	padding: 20px 20px 0 20px;
}

.section-work li {
	display: block;
	margin: 0 auto;
	margin-bottom: 28px;
}

.section-work li img {
	display: block;
}

/* ---- FEATURED WORK FOOTER ---- */



/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 320px) {
    .header-title {
        
    }
    
    
}

@media screen and (max-width: 360px) {
    footer h4 {
        bottom: 10px;
        font-size: 0.8em;
    }
    
}

@media screen and (min-width: 400px) {
    
    .header-icon {
        margin-left: 2%;   
    }
}

@media screen and (min-width: 1200px) {
    .header-nav-icon {
        display: none;
    }
    
    .header-icon {
        margin-left: 130px;   
    }
    
    .desktop-nav {
        display: inline-flex;
    }
    
    .header {
        padding: 0 7%;
    }
    
    .section-work {
        padding: 28px 7% 0 7%;
	}
}

@media screen and (min-width: 1400px) {
    .section-work {
        padding: 28px 9% 0 9%;
	}
    
    .header {
        padding: 0 9%;
    }
}


/* ----------- L Laptop ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1440px) {
      .section-gallery article {
          max-height: 116px;
      }
      
      .gallery-text {
	       padding-top: 35px;
      }
}

