/* ---- GENERAL ----- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: "Bebas Neue", Roboto, sans-serif;
	background-color: #fff;
}

btn,
a,
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

a,
btn {
	cursor: pointer;
	color: #fff;
}

a:link,
a:visited {
    text-decoration: none;
}

img {
	width: 100%;
}

hr {
	border-style: solid;
	border-color: #a5b5c7;
}

footer,
section,
aside {
	text-align: center;
}

.btn {
	margin: 20px 10px 0 10px;
	display: inline-block;
	padding: 11px 50px;
	border: 2px solid #00BCD4;
	border-radius: 3px;
	background-color: #00BCD4;
}

.btn-ghost {
	margin: 20px 10px;
	display: inline-block;
	padding: 11px 90px;
	border: 2px solid #fff;
	border-radius: 3px;
}

/* ---- HEADER ----- */

header {
	/* ---- STICKY HEADER ---- */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* ---- BASE HEADER ---- */
    height: 50px;
	background-color: #37404A;
	z-index: 1000;
}

.header {
    display: flex;
    margin: 0 auto;
    height: 50px;
}

.header-title {
    float: left;
    height: 50px;
    width: 100%;
}

.header-title-left {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    padding: 14px  0 13px 22px;
}

.title-text-lighter {
    vertical-align: middle;
}

.title-letter-large {
    font-size: 18px
}

.title-divider {
    vertical-align: middle;
    font-size: 20px;
    opacity: 0.5;
    font-weight: 500;
}

.title-text-darker {
    vertical-align: middle;
    opacity: 0.5;
    font-weight: 500;
    font-size: 14px;
}

.title-letter-medium {
    font-size: 18px
}



.header-icon {
    margin-top: 12px;
    padding: 0 6px;
    height: 26px;
}

.desktop-nav {
    display: none;
    list-style: none;
    
}

.desktop-nav li {
    padding: 13px 0 13px 2em;
}

.desktop-nav li a {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.desktop-nav li a:hover {
    color: #00BCD4;
}


.header-nav-icon {
    max-width: 40%;
    height: 50px;
    width: 50px;
	background-color: #00BCD4;
}

.mobile-nav-icon {
    cursor: pointer;
}

.mobile-nav-icon i {
    display: block;
    height: 50px;
    padding: 6px 15px;
    font-size: 2.1em;
    color: #fff;
}

.main-nav {
    display: none;
    float: left;
    width: 100%;
    background-color: #2d353e;
    box-shadow: 0 2px 2px rgba(3, 15, 29, 0.5);
}

.main-nav li {
    text-align: center;
    display: block;
    height: 50px;
    border-top: 1px solid #00BCD4;
    width: 100%;
    
}

.main-nav li:last-child {
    border-bottom: 1px solid #00BCD4;
}

.main-nav li a {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 16px 16px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.main-nav li a:hover {
    background-color: #00BCD4;
}

.main-nav la a:link,
.main-nav li a:visited {
    display: inline-block;
    border: 0;
    font-size: 100%;
    color: #fff;
}

/* ---- FOOTER ---- */

footer {
	position: relative;
	width: 100%;
    height: 50px;
	background-color: #37404A;
}

footer h4 {
	position: absolute;
    font-weight: 600;
    letter-spacing: 0.06em;
    bottom: 8px;
	width: 100%;
	padding-bottom: 6px;
    opacity: 0.5;
	color: #fff;
}

/* ---- FEATURED WORK ----- */

.section-work {
	margin: 50px auto 0 auto;
	padding: 26px 20px 0 20px;
}

.section-work li {
	display: block;
	margin: 0 auto;
	margin-bottom: 28px;
}

.section-work li img {
	display: block;
}

/* ---- CONTACT ----- */

.section-contact {
    margin: 50px auto 0 auto;
	padding: 20px 0;
    list-style: none;
    background-color: #2d353e;
    height: 100vh;
}

.section-contact ul {
    padding: 0 10px;
    width: 250px;
    margin: 0 auto;
    list-style: none;
}

.section-contact li {
    padding: 10px 0;
}

.section-contact li a {
    padding: 2px 0;
    display: block;
    color: #00BCD4;
    font-weight: 600;
    letter-spacing: 0.06em;
    font-size: 16px;
}

.section-contact i {
	color: #00BCD4;
    margin-right: 10px;
}

.section-contact i:hover {
	color: #00BCD4;
}

.picture {
    border-radius: 50%;
    height: 160px;
    width: 160px;
}

.welcome-text-name {
    height: 42px;
}

.section-contact ul hr {
    width: 182px;
    margin: 0 auto;
}

.welcome-text-role {
    height: 28px;
}

.list-icons {
    text-align: left;
    padding: 0 10px;
    width: 250px;
}

.list-icons li {
    margin-left: 26px;
}

/* ---- FEATURED WORK FOOTER ---- */



/* ---- MEDIA QUERIES ---- */


@media screen and (max-width: 360px) {
    footer h4 {
        bottom: 10px;
        font-size: 0.8em;
    }
    
}

@media screen and (min-width: 290px) {
    .header-title-left {
        font-size: 16px;
        padding: 13px  0 13px 22px;
    }
    
    .title-letter-large {
        font-size: 20px
    }

    .title-divider {
        font-size: 20px;
    }

    .title-text-darker {
        font-size: 16px;
    }
    
    .title-letter-medium {
        font-size: 20px
    }
}

@media screen and (min-width: 360px) {
    .header-title-left {
        font-size: 22px;
        padding: 9px  0 9px 22px;
    }
    
    .title-letter-large {
        font-size: 26px
    }

    .title-divider {
        font-size: 28px;
    }

    .title-text-darker {
        font-size: 22px;
    }
    
    .title-letter-medium {
        font-size: 26px
    }
}

@media screen and (min-width: 400px) {
    /*
    .header-icon {
        margin-left: 3.25%;   
    }
    */
}


@media screen and (min-width: 1200px) {
    header {
        height: 66px;
    }
    
    .header-title-left {
        font-size: 28px;
        padding: 14px 0;
    }
    
    .title-letter-large {
        font-size: 32px
    }

    .title-divider {
        position: relative;
        top: -1px;
        font-size: 36px;
    }

    .title-text-darker {
        font-size: 28px;
    }
    
    .title-letter-medium {
        font-size: 32px
    }
    
    .header-nav-icon {
        display: none;
    }
    
    .header-icon {
        margin-left: 158px;   
    }
    
    .desktop-nav {
        font-size: 30px;
        display: inline-flex;
    }
    
    .header-title {
        padding: 0 0 0 1.75em;
    }
    
    .header-title-left {
        padding-left: 7%;
    }
    
    .desktop-nav {
        padding-right: 7%;
    }
    
    .section-work {
        padding: 44px 7% 0 7%;
	}
    
    .section-contact {
        margin: 66px auto 0 auto;
    }
    
    .contact-footer {
        position: fixed;
        bottom: 0px;
    }
    
}

@media screen and (min-width: 1400px) {
    
    .section-work {
        padding: 44px 9% 0 9%;
	}
    
    .header-title {
        padding: 0 0 0 2.5em;
    }
    
    .header-title-left {
        padding-left: 9%;
    }
    
    .desktop-nav {
        padding-right: 9%;
    }
    
    .header-icon {
        margin-left: 158px;   
    }
    
}

@media screen and (min-width: 1600px) {

    
}

@media screen and (min-width: 1800px) {
    
    .header-title {
        padding: 0 0 0 2.75em;
    }
    
}

@media screen and (min-width: 2000px) {

    
}

@media screen and (min-width: 2200px) {
    
    .header-title {
        padding: 0 0 0 3em;
    }
    

}


/* ----------- L Laptop ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1440px) {
      .section-gallery article {
          max-height: 116px;
      }
      
      .gallery-text {
	       padding-top: 35px;
      }
}

